@import '../../assets/css/variables.css';

.main {
  position: absolute;
  top: 1;
  bottom: 0.8;
  background-color: var(--main-bg-color);
}

.main__title {
  color: red;
  font-family: 'Arial', sans-serif;
}
