:root {
  --primary-color: #3982c7;
  --secondary-color: #8bb3c9;
  --accent-color: #ffd13b;
  --forecast-foreground: #94a0a5;
  --forecast-background: #eaf3f6;
  --box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
